.header {
    display: flex;
   
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 1px solid #2a363b;
    justify-content: space-between;
    background: #343642;
  }
  .nav{
    display: flex;

  }